<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <br>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-black text-center">
                <h2>¡Bienvenido a tu PetShop favorito!</h2>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Un lugar donde encontraras todo lo que buscas</h5>
                <p class="card-text">
                    Estamos ansiosos por ayudarte a encontrar todo lo que necesite tu mascota.
                </p>
                <p class="card-text">
                    Buscanos en las redes para estar al tanto de todo.
                </p>
                <p class="styled-box">
                    Cualquier duda que tengas, estamos a las ordenes.
                </p>
            </div>
        </div>
    </div>

    {{#if user}}
    <h3 class="text-center" id="bienvenida">
        Bienvenido, <strong>{{userName}}</strong>
    </h3>

    {{#if (or (eq (getProperty user 'role') 'premium') (eq (getProperty user 'role') 'admin'))}}
    <a href="/api/products" class="btn btn-success">Ir a Productos</a>

    {{#if (eq (getProperty user 'role') 'admin')}}
    <a href="/api/users" class="btn btn-primary">Gestión de Usuarios</a>
    {{/if}}
    {{/if}}

    {{else}}
    <br>
    <h3>Inicia sesión para poder comprar</h3>
    {{/if}}
    <div>
        <h2>Lista de Productos</h2>
        {{#if products.length}}
        <div class="divproducts">
            {{#each products}}
            <div>
                <img src="{{this.thumbnails}}" alt="{{this.title}}" style="width: 200px; height: auto;">
                <h2>{{this.title}} - ${{this.price}}</h2>
                <p>{{this.category}}</p>
                <a href="/api/products/{{this._id}}" class="btn btn-success">Ver más</a>
                {{#if (eq (getProperty ../user 'role') 'premium')}}
                <a href="/api/products/edit/{{this._id}}" class="btn btn-warning">Editar</a>
                <a href="/api/products/delete/{{this._id}}" class="btn btn-danger">Eliminar</a>
                {{/if}}
            </div>
            <br />
            {{/each}}
        </div>
        {{else}}
        <h1>No hay productos</h1>
        {{/if}}
    </div>

    <h2>Bienvenido al Chat!</h2>
    <div class="row">
        <div class="col-auto">
            <input class="form-control" id="chatBox">
        </div>
        <div class="col-auto">
            <button class="btn btn-success" id="sendBtn">Enviar</button>
        </div>
    </div>

    <div>
        <p class="text-muted" id="messageLogs"></p>
    </div>

    <br>
    {{#if user}}
    <form action="/api/users/logout" method="post">
        <button type="submit" class="btn btn-warning">Logout</button>
    </form>
    {{else}}
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
    {{/if}}
    <br>
</body>

<script>
    const userAuthenticated = {{#if user}} {first_name: "{{user.first_name}}"}  {{else}} null {{/if}};
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>