<div>
    {{#if products.length}}
        <div>
            <h1>Productos:</h1>
            <ul>
                {{#each products}}
                    <li>
                        <strong class="infP">Titulo:</strong>{{this.title}}, 
                        <strong class="infP">Descripcion:</strong>{{this.description}},
                        <strong class="infP">Codigo:</strong>{{this.code}}, 
                        <strong class="infP">Precio:</strong>${{this.price}},
                        <strong class="infP">Status:</strong>{{this.status}}, 
                        <strong class="infP">Stock: </strong>{{this.stock}},
                        <strong class="infP">Categoria:</strong>{{this.category}},
                        <strong class="infP">Thumbnail: </strong>
                        {{#each this.thumbnails}}
                            <img src="{{this}}" alt="Thumbnail">
                        {{/each}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <h1>No hay productos</h1>
    {{/if}}
</div>

<script src="../public/js/index.js"></script>