<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}}</title>
</head>
<body>
    <h1>{{product.title}}</h1>
    <img src="{{product.thumbnails}}" alt="{{product.title}}" style="width: 300px; height:auto;">
    <p>{{product.description}}</p>
    <p>Categoría: {{product.category}}</p>
    <p>Stock: {{product.stock}}</p>
    <h2>Precio: ${{product.price}}</h2>

    <form id="addToCartForm" onsubmit="event.preventDefault(); addToCart('{{cartId}}', '{{product._id}}')">
        <label for="cartQuantity">Cantidad:</label>
        <input type="number" id="cartQuantity" name="cartQuantity" min="1" max="{{product.stock}}" required>
        <button type="submit">Agregar al carrito</button>
    </form>

    <a href="/api/products">Volver a productos</a>

    <script src="/js/addProduct.js"></script>
</body>
</html>
