<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h3 class="text-center" id="bienvenida">
        Bienvenido, <strong>{{userName}}</strong>
    </h3>
    {{#if (or (eq (getProperty user 'role') 'premium') (eq (getProperty user 'role') 'admin'))}}
    <a href="/api/products/add" class="btn btn-success">Agregar Producto</a>
    {{/if}}
    {{#if (eq (getProperty user 'role') 'admin')}}
    <a href="/api/users" class="btn btn-primary">Usuarios</a>
    {{/if}}
    <h2>Lista de Productos</h2>
    {{#if products.length}}
    <div class="divproducts">
        {{#each products}}
        <div>
            <img src="{{this.thumbnails}}" alt="{{this.title}}" style="width: 200px; height: auto;">
            <h2>{{this.title}} - ${{this.price}}</h2>
            <p>{{this.category}}</p>
            <a href="/api/products/{{this._id}}" class="btn btn-success">Ver más</a>
            {{#if (or (eq (getProperty ../user 'role') 'premium') (eq (getProperty ../user 'role') 'admin'))}}
            <a href="/api/products/edit/{{this._id}}" class="btn btn-warning">Editar</a>
            <a href="/api/products/delete/{{this._id}}" class="btn btn-danger">Eliminar</a>
            {{/if}}
        </div>
        <br />
        {{/each}}
    </div>
    {{else}}
    <h1>No hay productos</h1>
    {{/if}}

    {{#if totalPages}}
    <div class="pagination">
        {{#if prevLink}}
        <a href="{{prevLink}}" class="btn btn-secondary">
            << Anterior</a>
                {{/if}}

                <span>Página {{currentPage}} de {{totalPages}}</span>

                {{#if nextLink}}
                <a href="{{nextLink}}" class="btn btn-secondary">Siguiente >></a>
                {{/if}}
    </div>
    {{/if}}

    {{#if user}}
    <form action="/api/users/logout" method="post">
        <button type="submit" class="btn btn-warning">Logout</button>
    </form>
    {{else}}
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
    {{/if}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>