<h2>Perfil de Usuario</h2>
<p>Nombre: {{getProperty user 'first_name'}}</p>
<p>Apellido: {{getProperty user 'last_name'}}</p>
<p>Email: {{getProperty user 'email'}}</p>
<p>Edad: {{getProperty user 'age'}}</p>
<p>Rol actual: {{getProperty user 'role'}}</p>

{{#if (eq (getProperty user 'role') 'premium')}}
  <form action="/api/sessions/premium/{{getProperty user '_id'}}" method="POST">
    <button type="submit">Cambiar a Usuario</button>
  </form>
{{else}}
  <form action="/api/users/{{getProperty user '_id'}}/documents" method="GET">
    <button type="submit">Cambiar a Premium</button>
  </form>
{{/if}}
<br>

<form action="/profile/editprofile" method="GET">
    <button type="submit">Modificar Datos</button>
</form>
<br>
<form action="/" method="GET">
    <button type="submit">Volver a Productos</button>
</form>
<br>
<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>
