<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Usuarios</title>
</head>
<body>
  <h1>Lista de Usuarios</h1>
  {{#if users.length}}
  <ul>
    {{#each users}}
    <li id="user-{{this._id}}">
      <span>{{this.first_name}} - {{this.last_name}} - {{this.email}} - {{this.role}}</span>
      <br>
      <span>Última conexión: {{this.last_connection}}</span>
      <br>
      <button type="button" class="delete-user-button btn btn-outline-dark" data-user-id="{{this._id}}">Eliminar</button>
      <button type="button" class="change-role-button btn btn-outline-warning" data-user-id="{{this._id}}" data-current-role="{{this.role}}">Cambiar Rol</button>
    </li>
    <br>
    {{/each}}
  </ul>
  {{else}}
  <p>No hay usuarios</p>
  {{/if}}

  <script src="/js/userActions.js"></script>
</body>

</html>